html{
  background: url(https://en.wikipedia.org/wiki/Image#/media/File:Image_created_with_a_mobile_phone.png) no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;

}
h1{
text-transform: capitalize:
}
