html{
  background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FImage&psig=AOvVaw3aAs-fTlNIaOycbOB2ongj&ust=1602309948147000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJDhjPLrpuwCFQAAAAAdAAAAABAX) no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;

}
h1{
text-transform: capitalize:
}
h2{
text-transform: lowercase:}
